# Environment variables
.env

# Python cache
__pycache__/
*__pycache__/
*.pyc

# Hidden pycache (กรณีมี .__pycache__)
.__pycache__/

# Data files
data_files/
*data_files/

data_zip/
*data_zip/

result_analyse/
*result_analyse/